In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./datasets/cancer.csv')
# test = pd.read_csv('./datasets/MNIST/test.csv')
df.head()

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Label
0,5,1,1,1,2,1,3,1,1,1
1,5,4,4,5,7,10,3,2,1,1
2,3,1,1,1,2,2,3,1,1,1
3,6,8,8,1,3,4,3,7,1,1
4,4,1,1,3,2,1,3,1,1,1

In [3]:
df_norm = df[df['Label']==1]
df_norm.head()

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Label
0,5,1,1,1,2,1,3,1,1,1
1,5,4,4,5,7,10,3,2,1,1
2,3,1,1,1,2,2,3,1,1,1
3,6,8,8,1,3,4,3,7,1,1
4,4,1,1,3,2,1,3,1,1,1

In [4]:
df_anom = df[df['Label']== -1]
df_anom.head()

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8,Feature9,Label
15,7,3,2,10,5,10,5,4,4,-1
28,2,5,3,3,6,7,7,5,1,-1
32,7,8,7,2,4,8,3,8,2,-1
33,10,6,6,3,4,5,3,6,1,-1
35,9,10,10,1,10,8,3,3,1,-1

In [5]:
ds_norm = df_norm.values
ds_anom = df_anom.values
print(ds_norm.shape)
print(ds_anom.shape)

(444, 10)
(39, 10)

## Train Test split

In [6]:
X_train = ds_norm[:400, :-1]
Y_train = ds_norm[:400, -1]
Y_train = Y_train.reshape(-1, 1)
print(X_train.shape)
print(Y_train.shape)

(400, 9)
(400, 1)

In [7]:
x_test = ds_norm[400:, :-1]
y_test = ds_norm[400: , -1]
y_test = y_test.reshape(-1, 1)
x_anom = ds_anom[:, :-1]
y_anom = ds_anom[:, -1]
# X_test = np.stack((X_test, ds_anom[:, :-1]), axis=0)
# Y_test = np.stack((Y_test, ds_anom[:, -1]), axis=0)
# print(X_test.shape, Y_test.shape)

In [8]:
y_anom = y_anom.reshape(-1, 1)
X_test = np.vstack((x_test,x_anom))
Y_test = np.vstack((y_test, y_anom))
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(400, 9) (400, 1)
(83, 9) (83, 1)

## Model

In [91]:
# CHECK : Constants
omega = 1.

class ELM(object):
    def __init__(self, sess, batch_size, input_len, hidden_num, output_len):
        '''
        Args:
          sess : TensorFlow session.
          batch_size : The batch size (N)
          input_len : The length of input. (L)
          hidden_num : The number of hidden node. (K)
          output_len : The length of output. (O)
        '''
    
        self._sess = sess 
        self._batch_size = batch_size
        self._input_len = input_len
        self._hidden_num = hidden_num
        self._output_len = output_len 

        # for train
        self._x0 = tf.placeholder(tf.float32, [self._batch_size, self._input_len])
        self._t0 = tf.placeholder(tf.float32, [self._batch_size, self._output_len])

        # for test
        self._x1 = tf.placeholder(tf.float32, [None, self._input_len])
        self._t1 = tf.placeholder(tf.float32, [None, self._output_len])

        self._W = tf.Variable(
          tf.random_normal([self._input_len, self._hidden_num]),
          trainable=False, dtype=tf.float32)
        self._b = tf.Variable(
          tf.random_normal([self._hidden_num]),
          trainable=False, dtype=tf.float32)
        self._beta = tf.Variable(
          tf.zeros([self._hidden_num, self._output_len]),
          trainable=False, dtype=tf.float32)
        self._var_list = [self._W, self._b, self._beta]

        self.H0 = tf.matmul(self._x0, self._W) + self._b # N x L
        self.H0_T = tf.transpose(self.H0)

        self.H1 = tf.matmul(self._x1, self._W) + self._b # N x L
        self.H1_T = tf.transpose(self.H1)

        # beta analytic solution : self._beta_s (K x O)
        if self._input_len < self._hidden_num: # L < K
            identity = tf.constant(np.identity(self._hidden_num), dtype=tf.float32)
            self._beta_s = tf.matmul(tf.matmul(tf.matrix_inverse(
                tf.matmul(self.H0_T, self.H0) + identity/omega), 
                self.H0_T), self._t0)
          # _beta_s = (H_T*H + I/om)^(-1)*H_T*T
        else:
            identity = tf.constant(np.identity(self._batch_size), dtype=tf.float32)
            self._beta_s = tf.matmul(tf.matmul(self.H0_T, tf.matrix_inverse(
                tf.matmul(self.H0, self.H0_T)+identity/omega)), self._t0)
          # _beta_s = H_T*(H*H_T + I/om)^(-1)*T

        self._assign_beta = self._beta.assign(self._beta_s)
        self._fx0 = tf.matmul(self.H0, self._beta)
        self._fx1 = tf.matmul(self.H1, self._beta)

        self._cost = tf.reduce_mean(tf.cast(tf.losses.mean_squared_error(labels=self._t0, predictions=self._fx0), tf.float32))
                                        
        self._init = False
        self._feed = False

        # for the mnist test
        self._correct_prediction = tf.equal(tf.argmax(self._fx1,1), tf.argmax(self._t1,1))
        self._accuracy = tf.reduce_mean(tf.cast(self._correct_prediction, tf.float32))
        self._testcost = tf.cast(tf.losses.mean_squared_error(labels=self._t1, predictions=self._fx1), tf.float32)


    def feed(self, x, t):
        '''
        Args :
          x : input array (N x L)
          t : label array (N x O)
        '''

        if not self._init : self.init()
        print(self._sess.run(self._assign_beta, {self._x0:x, self._t0:t}))
#         print(self._sess.run(self._cost, {self._x0:x, self._t0:t}))
        
        self._feed = True

    def init(self):
        self._sess.run(tf.initialize_variables(self._var_list))
        self._init = True

    def test(self, x, t=None):
        if not self._feed : exit("Not feed-forward trained")
        if t is not None :
#             print("Accuracy: {:.9f}".format(self._sess.run(self._accuracy, {self._x1:x, self._t1:t})))
            return self._sess.run(self._testcost, {self._x1:x, self._t1:t})
            
        else :
            return self._sess.run(self._fx1, {self._x1:x})

In [92]:
# Basic tf setting
tf.set_random_seed(2016)
sess = tf.Session()

In [96]:
## training for outlier detetcion
batch_size = X_train.shape[0]
hidden_num = 150
print("batch_size : {}".format(batch_size))
print("hidden_num : {}".format(hidden_num))
elm = ELM(sess, batch_size, X_train.shape[1], hidden_num, X_train.shape[1])

# one-step feed-forward training
train_x, train_y = (X_train[:batch_size], X_train[:batch_size])
print(X_train[:batch_size].shape)
elm.feed(train_x, train_y)

batch_size : 400
hidden_num : 150
(400, 9)
[[-0.03643253 -0.01467197 -0.0179317  ... -0.02984962 -0.00887168
  -0.00743484]
 [ 0.01948049  0.0018497   0.01367727 ...  0.01497873  0.00826199
   0.00933036]
 [ 0.01248822  0.00375563  0.00648579 ...  0.00948468  0.00453777
   0.00042365]
 ...
 [-0.0017628  -0.0046001  -0.00446881 ... -0.00772589 -0.00364872
  -0.00041616]
 [-0.00020692  0.00374672  0.01084946 ... -0.00423949  0.01222686
   0.00357506]
 [ 0.00519078 -0.01391455 -0.0015561  ... -0.00429138 -0.00793167
  -0.00239512]]

In [95]:
X_test

array([[ 2,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 3,  1,  1,  1,  2,  1,  2,  1,  1],
       [ 1,  2,  2,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  1,  3,  2,  1,  1,  1,  1],
       [ 3,  1,  1,  1,  2,  1,  2,  1,  1],
       [ 3,  1,  1,  2,  3,  4,  1,  1,  1],
       [ 1,  2,  1,  3,  2,  1,  2,  1,  1],
       [ 5,  1,  1,  1,  2,  1,  2,  2,  1],
       [ 4,  1,  1,  1,  2,  1,  2,  1,  1],
       [ 3,  1,  1,  1,  2,  1,  3,  1,  1],
       [ 3,  1,  1,  1,  2,  1,  2,  1,  1],
       [ 5,  1,  1,  1,  2,  1,  2,  1,  1],
       [ 5,  4,  5,  1,  8,  1,  3,  6,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  2,  1,  1],
       [ 4,  1,  1,  1,  2,  1,  3,  1,  1],
       [ 1,  1,  3,  1,  2,  1,  2,  1,  1],
       [ 1,  1,  3,  1,  2,  1,  2,  1,  1],
       [ 3,  1,  1,  3,  2,  1,  2,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 5,  2,  2,  2,  2,  1,  1,  1,  2],
       [ 3,  1,  1,  1,  2,  1,  3,  1,  1],
       [ 3,  2,  1,  2,  2,  1,  3,  1,  1],
       [ 2,  1,  1,  1,  2,  1,  3,  1,  1],
       [ 5,  3,  2,  1,  3,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  2,  1,  1],
       [ 4,  1,  4,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  2,  1,  2,  1,  2,  1,  1],
       [ 5,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 2,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 5,  1,  1,  1,  2,  1,  3,  2,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 3,  1,  1,  1,  2,  1,  2,  3,  1],
       [ 4,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  2,  1,  1,  1,  8],
       [ 1,  1,  1,  3,  2,  1,  1,  1,  1],
       [ 3,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 3,  1,  1,  1,  2,  1,  2,  1,  2],
       [ 3,  1,  1,  1,  3,  2,  1,  1,  1],
       [ 2,  1,  1,  1,  2,  1,  1,  1,  1],
       [ 7,  3,  2, 10,  5, 10,  5,  4,  4],
       [ 2,  5,  3,  3,  6,  7,  7,  5,  1],
       [ 7,  8,  7,  2,  4,  8,  3,  8,  2],
       [10,  6,  6,  3,  4,  5,  3,  6,  1],
       [ 9, 10, 10,  1, 10,  8,  3,  3,  1],
       [ 9,  4,  5, 10,  6, 10,  4,  8,  1],
       [ 9,  6,  9,  2, 10,  6,  2,  9, 10],
       [ 7,  3,  4,  4,  3,  3,  3,  2,  7],
       [10, 10, 10,  3, 10,  8,  8,  1,  1],
       [ 8,  3,  5,  4,  5, 10,  1,  6,  2],
       [10, 10,  8,  6,  4,  5,  8, 10,  1],
       [ 6, 10, 10, 10,  8, 10, 10, 10,  7],
       [ 8,  7,  6,  4,  4, 10,  5,  1,  1],
       [ 9,  7,  7,  5,  5, 10,  7,  8,  3],
       [10, 10, 10, 10,  7, 10,  7, 10,  4],
       [ 7,  5,  6,  3,  3,  8,  7,  4,  1],
       [ 6,  8,  7,  5,  6,  8,  8,  9,  2],
       [ 8, 10, 10,  8,  5, 10,  7,  8,  1],
       [10,  5,  8, 10,  3, 10,  5,  1,  3],
       [ 3,  3,  5,  2,  3, 10,  7,  1,  1],
       [ 1,  4,  3, 10,  4, 10,  5,  6,  1],
       [ 5,  6,  6,  8,  6, 10,  4, 10,  4],
       [ 8,  3,  4,  9,  3, 10,  3,  3,  1],
       [ 7,  6,  3,  2,  5, 10,  7,  4,  6],
       [ 5,  4,  6,  6,  4, 10,  4,  3,  1],
       [ 3,  4,  4, 10,  5,  1,  3,  3,  1],
       [10,  3,  5,  4,  3,  7,  3,  5,  3],
       [ 7,  6,  6,  3,  2, 10,  7,  1,  1],
       [10, 10, 10,  7, 10, 10,  8,  2,  1],
       [ 5,  7,  9,  8,  6, 10,  8, 10,  1],
       [10,  6,  6,  2,  4, 10,  9,  7,  1],
       [ 3,  6,  4, 10,  3,  3,  3,  4,  1],
       [ 4, 10,  4,  7,  3, 10,  9, 10,  1],
       [ 7,  8,  3,  7,  4,  5,  7,  8,  2],
       [10,  9,  7,  3,  4,  2,  7,  7,  1],
       [ 2,  5,  7,  6,  4, 10,  7,  6,  1],
       [ 5, 10, 10, 10, 10, 10, 10,  1,  1],
       [10, 10,  7,  8,  7,  1, 10, 10,  3],
       [10, 10, 10, 10,  5, 10, 10, 10,  7]], dtype=int64)

In [75]:
err = []
for idx,test_pt in enumerate(X_test):
    x = test_pt.reshape(1,-1)
    err.append((elm.test(x, x), idx))

In [76]:
err

[(0.005846433, 0),
 (0.00020484038, 1),
 (0.073106356, 2),
 (0.042119138, 3),
 (0.00020484038, 4),
 (0.3349019, 5),
 (0.0041324133, 6),
 (0.07022665, 7),
 (0.011934543, 8),
 (0.02062851, 9),
 (0.00020484038, 10),
 (0.0417868, 11),
 (0.0017934218, 12),
 (0.0003616811, 13),
 (0.031113045, 14),
 (0.0023580978, 15),
 (0.20820089, 16),
 (0.20820089, 17),
 (0.056630116, 18),
 (0.0003616811, 19),
 (0.059094302, 20),
 (0.02062851, 21),
 (0.020536281, 22),
 (0.057021458, 23),
 (0.007018749, 24),
 (0.031113045, 25),
 (0.023486324, 26),
 (0.10006705, 27),
 (0.13103594, 28),
 (0.0003616811, 29),
 (0.005846433, 30),
 (0.01154672, 31),
 (0.0003616811, 32),
 (0.0003616811, 33),
 (0.0003616811, 34),
 (0.0003616811, 35),
 (0.01832899, 36),
 (0.07118355, 37),
 (0.016054751, 38),
 (0.042119138, 39),
 (0.029453702, 40),
 (0.001215264, 41),
 (0.10665914, 42),
 (0.005846433, 43),
 (2.8754985, 44),
 (0.13670653, 45),
 (0.028148154, 46),
 (0.058665182, 47),
 (0.2983001, 48),
 (3.1598718, 49),
 (0.5183928, 50),
 (0.11558456, 51),
 (1.2907282, 52),
 (1.9866098, 53),
 (0.4827885, 54),
 (0.16735196, 55),
 (0.046869222, 56),
 (0.0077710077, 57),
 (0.08975989, 58),
 (0.31189892, 59),
 (0.23462738, 60),
 (0.22049257, 61),
 (0.2983768, 62),
 (0.5322922, 63),
 (0.7184988, 64),
 (0.9863899, 65),
 (2.021458, 66),
 (0.002711078, 67),
 (0.113024145, 68),
 (0.23587076, 69),
 (0.7477172, 70),
 (0.6347674, 71),
 (0.23781013, 72),
 (0.054400075, 73),
 (0.16404152, 74),
 (0.08620259, 75),
 (0.23689204, 76),
 (0.013223254, 77),
 (1.0266744, 78),
 (0.24244697, 79),
 (1.0066164, 80),
 (0.39779198, 81),
 (0.08005872, 82)]

In [77]:
err.sort(reverse=True)

In [78]:
err

[(3.1598718, 49),
 (2.8754985, 44),
 (2.021458, 66),
 (1.9866098, 53),
 (1.2907282, 52),
 (1.0266744, 78),
 (1.0066164, 80),
 (0.9863899, 65),
 (0.7477172, 70),
 (0.7184988, 64),
 (0.6347674, 71),
 (0.5322922, 63),
 (0.5183928, 50),
 (0.4827885, 54),
 (0.39779198, 81),
 (0.3349019, 5),
 (0.31189892, 59),
 (0.2983768, 62),
 (0.2983001, 48),
 (0.24244697, 79),
 (0.23781013, 72),
 (0.23689204, 76),
 (0.23587076, 69),
 (0.23462738, 60),
 (0.22049257, 61),
 (0.20820089, 17),
 (0.20820089, 16),
 (0.16735196, 55),
 (0.16404152, 74),
 (0.13670653, 45),
 (0.13103594, 28),
 (0.11558456, 51),
 (0.113024145, 68),
 (0.10665914, 42),
 (0.10006705, 27),
 (0.08975989, 58),
 (0.08620259, 75),
 (0.08005872, 82),
 (0.073106356, 2),
 (0.07118355, 37),
 (0.07022665, 7),
 (0.059094302, 20),
 (0.058665182, 47),
 (0.057021458, 23),
 (0.056630116, 18),
 (0.054400075, 73),
 (0.046869222, 56),
 (0.042119138, 39),
 (0.042119138, 3),
 (0.0417868, 11),
 (0.031113045, 25),
 (0.031113045, 14),
 (0.029453702, 40),
 (0.028148154, 46),
 (0.023486324, 26),
 (0.02062851, 21),
 (0.02062851, 9),
 (0.020536281, 22),
 (0.01832899, 36),
 (0.016054751, 38),
 (0.013223254, 77),
 (0.011934543, 8),
 (0.01154672, 31),
 (0.0077710077, 57),
 (0.007018749, 24),
 (0.005846433, 43),
 (0.005846433, 30),
 (0.005846433, 0),
 (0.0041324133, 6),
 (0.002711078, 67),
 (0.0023580978, 15),
 (0.0017934218, 12),
 (0.001215264, 41),
 (0.0003616811, 35),
 (0.0003616811, 34),
 (0.0003616811, 33),
 (0.0003616811, 32),
 (0.0003616811, 29),
 (0.0003616811, 19),
 (0.0003616811, 13),
 (0.00020484038, 10),
 (0.00020484038, 4),
 (0.00020484038, 1)]

In [79]:
anom_pred = err[:39]
len(anom_pred)

39

In [80]:
anom_pred

[(3.1598718, 49),
 (2.8754985, 44),
 (2.021458, 66),
 (1.9866098, 53),
 (1.2907282, 52),
 (1.0266744, 78),
 (1.0066164, 80),
 (0.9863899, 65),
 (0.7477172, 70),
 (0.7184988, 64),
 (0.6347674, 71),
 (0.5322922, 63),
 (0.5183928, 50),
 (0.4827885, 54),
 (0.39779198, 81),
 (0.3349019, 5),
 (0.31189892, 59),
 (0.2983768, 62),
 (0.2983001, 48),
 (0.24244697, 79),
 (0.23781013, 72),
 (0.23689204, 76),
 (0.23587076, 69),
 (0.23462738, 60),
 (0.22049257, 61),
 (0.20820089, 17),
 (0.20820089, 16),
 (0.16735196, 55),
 (0.16404152, 74),
 (0.13670653, 45),
 (0.13103594, 28),
 (0.11558456, 51),
 (0.113024145, 68),
 (0.10665914, 42),
 (0.10006705, 27),
 (0.08975989, 58),
 (0.08620259, 75),
 (0.08005872, 82),
 (0.073106356, 2)]

In [81]:
cnt = 0
for pt in anom_pred:
    if pt[1]>=44 and pt[1]<83:
        cnt+=1
print(cnt/float(39))

0.8205128205128205